<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Event</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  

  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>


<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="#intro" class="scrollto"><img src="assets/img/logo.png" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="home#about">About</a></li>
          <li><a href="home#speakers">Speakers</a></li>
          <li><a href="home#schedule">Schedule</a></li>
          <li><a href="home#venue">Location</a></li>
          <li><a href="home#hotels">Hotels</a></li>
          <li><a href="home#gallery">Gallery</a></li>
          <li><a href="home#sponsors">Sponsors</a></li>
          <li><a href="home#contact">Contact</a></li>
          <li class="buy-tickets"><a href="home#buy-tickets">Buy Tickets</a></li>
          <li class="buy-tickets"><a href="login#logout"><i class="fa fa-sign-out"></i>

          </a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">The Annual<br><span>IT</span> Conference</h1>
      <p class="mb-4 pb-0">10-12 December,  Conference Center, TUNIS</p>
      <a href="https://www.youtube.com/watch?v=MqkrKsPaYKk&list=PLEb_ogLaFAWXQsH9pSyjFCGyiiM4ln6fE&ab_channel=SynergyVideoProductions" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#about" class="about-btn scrollto">About The Event</a>
    </div>
  </section>

  <main id="main">
    