<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TheEvent </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

 
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header" class="header-fixed">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="index.html#intro" class="scrollto"><img src="assets/img/logo.png" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="home#intro">Home</a></li>
          <li><a href="home#about">About</a></li>
          <li><a href="home#speakers">Speakers</a></li>
          <li><a href="home#schedule">Planing</a></li>
          <li><a href="home#venue">Location</a></li>
          <li><a href="home#hotels">Hotels</a></li>
          <li><a href="home#gallery">Gallery</a></li>
          <li><a href="home#sponsors">Sponsors</a></li>
          <li><a href="home#contact">Contact</a></li>
          <li class="buy-tickets"><a href="home#buy-tickets">Buy Tickets</a></li>
          <li class="buy-tickets"><a href="login#logout"><i class="fa fa-sign-out"></i>

          </a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <main id="main" class="main-page">

    <!--==========================
      Speaker Details Section
    ============================-->
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>Speaker Details</h2>
          <p>Present to those who can act wisely with nothing.</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="assets/img/speakers/1.png" alt="Speaker 1" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>Aziz Charada</h2>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              <p>Organizing an IT event requires meticulous planning and seamless execution. While challenges and obstacles may arise, the rewards of bringing together innovative minds are immense.</p>
 
              <p> The technical issues that often occur during such events can be frustrating, but they are quickly resolved by a dedicated team, ensuring the event's success and participants' satisfaction.</p> 

              <p>The creativity and knowledge shared at an IT event foster growth and inspire new ideas. Although logistical problems and system glitches may appear, they serve as opportunities for learning and improvement. The experience of managing an IT event is one of navigating obstacles while ensuring that technology continues to facilitate collaboration and innovation without disruption. Each issue resolved strengthens the foundation for future success</p>
            </div>
          </div>
          
        </div>
      </div>

    </section>

  </main>
  <main id="main" class="main-page"></main>
 <!--==========================
      Speaker Details Section
    ============================-->
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="assets/img/speakers/2.png" alt="Speaker 2" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>Mohammed Aloui</h2>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              <p>Is a leading expert in artificial intelligence. As Chief Data Scientist at Tech Innovations</p>
 
              <p> A sought-after speaker, she has delivered talks at international conferences </p>
              <p>sharing her insights on the ethical implications of AI and its transformative potential in various sectors.Passionate about mentoring the next generation of tech leaders</p>
            </div>
          </div>
          
        </div>
      </div>

    </section>
    <main id="main" class="main-page"></main>
    <!--==========================
         Speaker Details Section
       ============================-->
       <section id="speakers-details" class="wow fadeIn">
         <div class="container">
           <div class="section-header">
             
           </div>
   
           <div class="row">
             <div class="col-md-6">
               <img src="assets/img/speakers/3.png" alt="Speaker 3" class="img-fluid">
             </div>
   
             <div class="col-md-6">
               <div class="details">
                 <h2>Cyrine</h2>
                 <div class="social">
                   <a href=""><i class="fa fa-twitter"></i></a>
                   <a href=""><i class="fa fa-facebook"></i></a>
                   <a href=""><i class="fa fa-google-plus"></i></a>
                   <a href=""><i class="fa fa-linkedin"></i></a>
                 </div>
                 <p>Is an accomplished software engineer with over a decade of experience in developing innovative applications. Currently the Lead Developer ,she specializes in cloud computing and cybersecurity. </p>
    
                 <p>She has presented at various tech conferences, sharing insights on best practices and emerging trends.</p> 
   
                 <p>Shee is passionate about fostering collaboration within the tech community and mentoring young developers.</p>
               </div>
             </div>
             
           </div>
         </div>
   
       </section>
       <!--==========================
      Speaker Details Section
    ============================-->
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="assets/img/speakers/4.png" alt="Speaker 4" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>Iyed Beltif</h2>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              <p>Is a renowned cybersecurity expert with over 20 years of experience in protecting organizations from digital threats.he leads a team of professionals dedicated to safeguarding sensitive data and ensuring compliance</p>
 
              <p> has a rich background in both offensive and defensive cybersecurity strategies, having previously worked as a penetration tester and incident response analyst. He is a sought-after speaker at major industry conferences, where he shares his insights on emerging threats and effective security practices</p> 

              <p>Passionate about educating others, he also conducts workshops and training sessions for businesses looking to strengthen their cybersecurity posture In addition to his professional endeavors,Iyed actively mentors young professionals in the field, encouraging the next generation to pursue careers in cybersecurity.</p>
            </div>
          </div>
          
        </div>
      </div>

    </section>
    <!--==========================
      Speaker Details Section
    ============================-->
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="assets/img/speakers/5.png" alt="Speaker 5" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>Ahmed Naffeti</h2>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              <p> Is an expert in software development and agile methodologies, with over 15 years of experience in the tech industry. As the Senior Software Engineer at Tech Solutions Co., he plays a pivotal role in designing scalable applications that meet the evolving needs of clients. </p>
 
              <p> Ahmed is passionate about promoting best practices in software engineering and has contributed to numerous successful projects across various domains, including finance, healthcare, and e-commerce.A recognized thought leader, Ahmed frequently speaks at tech conferences and meetups, sharing his insights on agile project management, DevOps practices, and continuous integration. </p> 

              <p>Ahmed's commitment to innovation and collaboration has made him a respected figure in the software development community.</p>
            </div>
          </div>
          
        </div>
      </div>

    </section>
    <!--==========================
      Speaker Details Section
    ============================-->
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="assets/img/speakers/6.png" alt="Speaker 6" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>Ameni Ayadi</h2>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              <p>Is a dynamic leader in the field of data science with over 7 years of experience in transforming data into actionable insights.She oversees a team that develops cutting-edge predictive models to enhance decision-making across various sectors</p>
 
              <p> An engaging speaker and educator, she frequently presents at industry conferences and workshops, covering topics such as machine learning , data visualization, and the ethical use of data. </p> 

              <p> Her passion for innovation and commitment to excellence make her a valuable voice in the data science community.

              </p>
            </div>
          </div>
          
        </div>
      </div>

    </section>
   
   
  

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="assets/img/logo.png" alt="TheEvenet">
            <p>Using a different name, he opens. To save time. Responsibilities can be enjoyable but can also be a pain and overwhelming. To see the light of escaping all inconveniences and avoid what is possible. Or for those who want it. The inventor follows desires, debts, and accusations to deal with them together..</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Rue Habib Bourguiba <br>
              Tunis<br>
              <strong>Phone:</strong> +216 55 633 210<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

</body>

</html>
